{%extends 'recipemaker/base.html' %}
{% load static %}

{% block content %}

<div class="d-flex justify-content-center" style="height:100%">
    <div class="card" style="width: 40%; height:30%">
        <div class="container">
            <h2>Log in</h2>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type='submit' class="btn btn-primary">Log in</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}