{%extends 'recipemaker/base.html' %}
{% load static %}

{% block content %}

<div id="cards_landscape_wrap-2">
    <h3>Your saved recipes</h3>
    <div class="container">
        <div class="row">
            {%if recipe1 != None%}
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="{% url recipe1.url %}">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="{{recipe1.image.url}}" alt="" />
                            </div>
                            <div class="text-container">
                            <h6>{{recipe1.name}}</h6>
                                <p>{{recipe1.description}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {%if recipe2 != None%}
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="{% url recipe2.url %}">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="{{recipe2.image.url}}" alt="" />
                            </div>
                            <div class="text-container">                                    
                                <h6>{{recipe2.name}}</h6>
                                <p>{{recipe2.description}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {%if recipe3 != None%}
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="{% url recipe3.url %}">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="{{recipe3.image.url}}" alt="" />
                                </div>

                                <div class="text-container">
                                    <h6>{{recipe3.name}}</h6>
                                <p>{{recipe3.description}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}       
        </div>
        <div class="row">
            {%if recipe4 != None%}
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="{% url recipe1.url %}">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="{{recipe1.image.url}}" alt="" />
                            </div>
                            <div class="text-container">
                            <h6>{{recipe4.name}}</h6>
                                <p>{{recipe4.description}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {%if recipe5 != None%}
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="{% url recipe2.url %}">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="{{recipe2.image.url}}" alt="" />
                            </div>
                            <div class="text-container">                                    
                                <h6>{{recipe5.name}}</h6>
                                <p>{{recipe5.description}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {%if recipe6 != None%}
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="{% url recipe3.url %}">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="{{recipe3.image.url}}" alt="" />
                                </div>

                                <div class="text-container">
                                    <h6>{{recipe6.name}}</h6>
                                <p>{{recipe6.description}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}       
        </div>
    </div>
</div>

{%endblock%}